* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --bg-color-light: #FFF;
  --button-on-color: hsl(194, 97%, 31%);
  --button-off-color: hsla(240, 9%, 89%, 1);
  --contour-on-color:hsla(0, 0%, 100%, 1);
  --contour-off-color: hsla(240, 6%, 21%, 1);
  --font-family:'Roboto', sans-serif;
 
  --bg-color-dark:hsl(240, 5%, 7%);
  --button-on-color-dark:#0a3343;
  --button-setting-color-dark: hsla(240, 7%, 78%, 1);
  --bg-color-details-dark:#FFFFFF;
  
}

.modeIcons {
  padding-top: 6rem;
  margin-right: 6rem;
  margin-bottom: 9.2rem;
  display: flex;
  justify-content:flex-end;
}

main {
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  /*gap: 20rem; /*tirar*/
  /**min-height: 100vh;*/

  font-family: var(--font-family);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

#numbersANDsettingButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers span {
  font-size: 12.6rem;
  margin-bottom: 1.7rem;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px #000000);
}

.hide{
  display: none;
}

.settingButtons {
  width: fit-content;
  display: flex;
  align-items: flex-start;
  justify-content: center;

  gap: 4.0rem;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#backgroundSounds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: clamp( 28rem, 28rem + 20vw, 35rem); /* rever */
}

#backgroundSounds button {
  background: var(--button-off-color);
  width: 13.8rem;
  height: 15.2rem;
  margin: 2.4rem;
  border-radius: 2.4rem;
}

input {
  cursor: pointer;
  width: 9rem;
  height: 1.6rem;    
}

#backgroundSounds input {
  margin-top: 3.2rem;
}

.minutes{
  cursor: pointer;
}

.settingButtons button:hover, .modeIcons svg:hover {
  -xpedu-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  /*box-shadow: inset 0 0 0 0.5rem #53a7ea; colocando borda*/
}

.container{
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: var(--bg-color-light);
}

/* input:focus::-webkit-slider-runnable-track {
  background-color: white;
  width: 8.5rem;
  height: 1rem;
  flex-shrink: 0;
  border-radius: 9999px; 
}  DEIXAR PARA FUTUROS AJUSTES*/




/* tirar

input[type=range]::-webkit-slider-thumb, input[type='range']::-moz-range-thumb, input[type='range']::-ms-range-thumb{ editar a bolinha
  all:unset;
  -webkit-appearance: none;
}

input:focus::-webkit-slider-runnable-track {
  /* Use o pseudo-seletor "::-webkit-slider-runnable-track" para customizar o "trilho" do campo.
  background: fuchsia;
  width: 1.0rem;
  height: 1.6rem;
  border-radius: 3rem; 
}*/

@media (max-width: 886px) {
  :root {
    font-size: 56.62%; /*regra de 3: 
      1rem = 16px ------------------- 100%
      1 rem = 10(novo padrão) -------x 
      x =aprox 62.5%.
      Se ao inves de 10 forem 9, 56.62%
      */
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
}



